.git
.github
.gradle
.idea
.vscode
build
out
target
bin
node_modules
src/main/resources/static/dist

.env
.env.*
!.env.example

*.log
*.tmp
*.temp
*.pid
storage
tikfetch-storage

README.md
LICENSE
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
